numpy
pandas
matplotlib
seaborn
fastapi
langchain 
langchain-community 
langchain-core 
langchain-huggingface 
langchain-ollama
huggingface-hub 
langchain-cli 
transformers 
datasets 
ollama 
openai-whisper 
pydantic 
uvicorn
pyngrok
