# Server
PORT=5000

# MongoDB connection
MONGO_URI=your-mongo-uri-here

# JWT secret
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=1h
JWT_RESET_SECRET=your-jwt-reset-secret-here

#captcha
CAPTCHA_EXPIRES_MS=300000

# Gemini API
GEMINI_API_KEY=your-gemini-api-key-here
AI_PROVIDER=gemini
AI_MODEL=gemini-2.5-flash

# Optional
NODE_ENV=development

MAIL_USER=your-mail-user-here

MAIL_PASS=your-mail-pass-here

FRONTEND_URL=http://localhost:5173